<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>视频测试首页</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div style="text-align: center;width: 70%;">
    <form>
        <input type="button" id="uploadVideo" value="上传视频"/>
        <input type="text" id="uploadVideoResult" disabled="disabled" value="视频ID："/>
        <hr width="100%" size="5"/>
        <input type="button" id="playAuth" value="获取上面视频的播放授权"/>
        <input type="text" id="playAuthResult" disabled="disabled" value="视频播放授权："/>
        <hr width="100%" size="5"/>
        <input type="button" id="playIt" value="播放该视频"/>
    </form>
</div>
</body>
<script>
  $(document).ready(function () {
    var uploadVideoButton = document.getElementById('uploadVideo');
    var uploadVideoResult = document.getElementById('uploadVideoResult').value;
    var playAuthButton = document.getElementById('playAuth');
    var playAuthResult = document.getElementById('playAuthResult').value;
    var videoId = "";
    var playAuth = "";
    $(document).on('click', '#uploadVideo', function (e) {
      $.ajax({
        url: '/gkiwi/vod/upload',
        type: 'get',
        async: true,
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
          videoId = data;
          $('#uploadVideoResult').val(uploadVideoResult + videoId);
        },
        error: function () {
          alert('上传视频失败，请重试！');
        }
      })
    });
    $(document).on('click', '#playAuth', function (e) {
      $.ajax({
        url: '/gkiwi/vod/play_auth?videoId=' + videoId,
        type: 'get',
        async: true,
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
          playAuth = data;
          $('#playAuthResult').val(playAuthResult + playAuth);
        },
        error: function () {
          alert('获取视频播放授权失败，请重试！');
        }
      })
    });
    $(document).on('click', '#playIt', function (e) {
      var paramMap = {};
      paramMap['videoId'] = videoId;
      paramMap['playAuth'] = playAuth;
      $.ajax({
        url: '/gkiwi/vod/play_video',
        type: 'post',
        data: JSON.stringify(paramMap),
        async: true,
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
        },
        error: function () {
          alert('获取视频播放授权失败，请重试！');
        }
      })
    })
  })
</script>
</html>